.bio{
    
    display: flex;
    flex-direction: row;
    align-items: stretch;
    
    @media only screen and (max-width : 700px){ 
        flex-direction: column;
    }
    
    .description_con{
        
        flex-wrap: wrap;
        flex: 1 0 auto;
        display:  flex;
        align-items: center;
        align-content: center;
        padding: 70px;
        
        @media only screen and (max-width : 700px){ 
           padding: 30px;
            flex: 0 0 0;
        }
        
        .description{
            
            h1{
                display: block;
                font-size: 4vw;
                margin: 0;
                padding: 0;
            }
            &::first-letter{
                color: #22ad4b;
            }
            a{
                margin-right: 10px;
                margin-left: 2px;
                font-family: $label_font;
                font-size: .8rem;
                text-transform: uppercase;
                text-decoration: none;
            } 
            @media only screen and (max-width : 700px){ 
                h1{
                    display: block;
                    font-size: 10vw;
                }
                &::first-letter{
                    color: #22ad4b;
                }
                a{
                    font-size: 1rem;
                } 
            }
        }
        .copy{
            margin-top: 10px;
            font-family: $label_font;
            line-height: 1.5rem;
            p{
                margin-top: 10px;
            }
        }
    }
    
    .image_con{
        flex: 3 0 auto;
        background: #ff0;
        overflow: hidden;
        display: flex; 
        align-items: flex-end;
        justify-content: flex-end;
        text-align: right;
        background: url(../img/bio.jpg) center center;
        background-size: cover;
        
        @media only screen and (max-width : 700px){ 
           flex: 9 0 auto;
        }
    } 
       
}


