.bio{
    
    display: flex;
    flex-direction: row;
    align-content: stretch;
    
    @media all and (orientation: landscape) and (max-width: 850px){}
    
    @media all and (max-width: 900px){
        flex-direction: column;
    }
    
    .row{
        
        display:  flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        
        &:nth-child(1){
            flex: 0 1 auto;
            min-height: 100%;
            background: #fff;
            padding: 50px;
            
            .links{
                margin-bottom: 40px;
                a{
                    display: inline-block;
                    margin-right: 7px;
                    text-transform: uppercase;
                }
            }
            p{
                margin: 0 0 20px 0;
                font-size: 1.2rem;
                line-height: 1.8rem;
            }
        }
        &:nth-child(2){
            flex: 0 1 auto;
            display: flex;
            background: #ff0;
            min-height: 100%;
            background: url(../img/bio.jpg) center center;
            background-size: cover;
            
            @media all and (max-width: 900px){
                flex-direction: column;
                flex: 5 0 300px;
            }
        } 
    }
     
}


