.contact{
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    .copy_con{
        flex: 3 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .copy{
            font-family: $header_font;
            font-size: 1rem;
            line-height: 1.3rem;
            margin-bottom: 8px;
            a{
                display: inline;
            }
            &:nth-child(1){
                margin-bottom: 30px;
            }
        }
    }
    .left{
        align-items: flex-end;
    }
    .right{
        align-items: flex-start;
    }
    
    .image_con{
        flex: 4 0 auto;
        display: flex;
        flex-direction: column;
        min-height: 100%;
        align-items: center;
        svg{
            width: 30vw;
        }
        
    } 
    
    
    @media all and (max-width: $mobile_size){
        flex-direction: column;
        
        .copy{
            font-size: 1rem;
        }
        .copy:nth-child(2){ 
           margin-bottom: 20px;

        }
        
        .image_con{
            svg{
                width: 30vh;
                margin: auto;
            }
        }
    }
       
}


