.director_detail{
    
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    
    .row{
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;
        
        
        &:nth-child(1){
            flex: 0 0 50px;
            display: flex;
            justify-content: flex-start; 
            align-items: center;
            
            .title{
                display: flex;
                flex-direction: row;
                justify-content: flex-start; 
                align-items: center;
                h1{
                    margin: 0;  
                    font-size: 1.5rem;
                    margin-right: 40px;
                    margin-left: 10px;
                }
                a{
                    padding: 0 10px;
                    padding-top: 3px;
                    text-transform: uppercase;
                    line-height: 1.5rem;
                    display: block;
                    justify-content: center;
                }
            }
            @media all and (orientation: landscape) and (max-width: 850px){
               display: none;
            }
        }
        &:nth-child(2){
            display: flex;
            flex: 5 0 0;
            flex-direction: row;
            align-items: stretch;
            min-height: 100%;
            
            .arrows{
                flex: 0 0 50px;
                display: flex;
                min-height: 100%;
                align-items: center;
                align-content: flex-end;
                padding: 5px;
                img{
                    width: 50%;
                }
            }
            .left{
                justify-content: flex-end;
            }
            .right{
                justify-content: flex-start;
            }
            
            .video_con{
                flex: 10 0 0;
                display: flex;
                align-content: stretch;
                width: 100%;
                min-height: 100%;
                x-display: flex;
                flex-direction: column;
                iframe{
                    x-flex: 10 0 0;
                    border: 0;
                    width: 100%;
                    height: 100%;
                }
                .label{
                    x-flex: 0 0 40px;
                    padding: 30px;
                    text-align: center;
                }
                @media all and (orientation: landscape) and (max-width: 850px){
                    .label{
                        display: none;
                    }
                }
                @media all and (max-width: 600px){
                     iframe{
                        x-flex: 10 0 0;
                        border: 0;
                        width: 100%;
                        height: 50%;
                    }
                    .label{
                        padding: 0;
                        flex: 10 0 auto;
                    }
                }
            }
            
            @media all and (max-width: 600px){
                .arrows{
                    display: none;
                }
            }
            
        }
        &:nth-child(3){
            flex: 1 0 0;
            display: flex;
            justify-content: center; 
            align-items: flex-start;
            @media all and (orientation: landscape) and (max-width: 850px){
                display: none;
            }
        }
        
    }
}


