.directors{
    
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    display: flex;
    
    .directors_con{
        
        flex: 1 0 auto;
        flex-wrap: wrap;
        display: flex;
        flex-direction: row;
        justify-content: center;
        
        .thumbnail_con{
            flex: 0 0 auto;
            margin: 30px;
            a.thumbnails{
                display: block;
                margin: 5px 0 5px 0;
                padding: 5px 0 5px 0;
               
                .label{
                    font-family: $label_font;
                    text-transform: uppercase;
                    font-size: 2.3rem;
                    letter-spacing: .07rem;
                    text-decoration: none;
                }
            }
        }
    }
    
    
    @media all and (max-width: 900px){
        
        flex-direction: column;
        
        .directors_con{ 
            flex-wrap: nowrap;
            display: flex;
            flex-direction: column;
            padding-left: 0px;
            padding-top: 20px;
            justify-content: flex-start;
            .thumbnail_con{ 
                flex: 0 0 auto; 
                margin: 0;
                padding: 0; 
                a.thumbnails{
                    margin: 20px 0 0 0;
                    padding: 0;
                    .label{
                        font-size: 6vw;
                    }
                }
            }
        }
        
    }
   
}


