@font-face {
    font-family: 'Arial_Black';
    src: url('../webfonts/3A6EBF_0_0.eot');
    src: url('../webfonts/3A6EBF_0_0.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/3A6EBF_0_0.woff2') format('woff2'),
         url('../webfonts/3A6EBF_0_0.woff') format('woff'),
         url('../webfonts/3A6EBF_0_0.ttf') format('truetype');
}