.footer_con{
    display: flex;
    font-family: $label_font;
    font-size: .7rem;
    color: #b7b7b7;
    padding: 10px;
    flex: auto;
    align-items: flex-end;
    justify-content:flex-end; 
}


