.home{
    
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    
    .lockup{
        margin-top: 90px;
        svg{
            width: 40vw;
            margin: auto;
        }
        .logo{
            flex: 2;
            font-size: 3rem;
            letter-spacing: 1.4rem;
            color: #22ad4b;
            padding-top: .85em;
            padding-left: 1.4rem;
            font-family: $header_font;
            text-transform: uppercase;
            text-align: center;
        }
        .home_nav{
            padding: 10px;
            margin-top: 40px;
            text-align: center;
            a{
                padding: 5px;
                font-size: .8rem;
                font-family: $header_font; 
                margin: auto 3px;
                text-transform: uppercase;
            }
            
        }
    }
   
}


