.representation{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    
    
    .description_con{
        flex: 1 0 auto;
        width: 60%;
        display: flex;
       align-items: flex-start;
        justify-content: center;
        .info{
            margin: 60px 20px 0px 20px;
            flex: 1 0 auto;
            font-size: .8rem;
            font-family: $label_font;
            h6{
                display: block;
                font-size: 1.1rem;
                margin-bottom: 1px;
            }
            line-height: 1.2rem;
        }
    }
    
    .image_con{
        
        flex: 1 0 auto;
        align-items: flex-end;
        display: flex;
        svg{
            width: 20vh;
        }
    } 
    
    @media all and (max-width: $mobile_size){
        .image_con{
            flex: 1 0 auto;
            align-items: center;
            display: flex;
            svg{
                width: 15vh;
            }
        } 
        .description_con{
            flex: 1 0 auto;
            width: 80%;
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            margin-top: 20px;
            .info{
                text-align: center;
                margin: 10px auto 0 auto;
                flex: 1 0 auto;
                font-size: .8rem;
                font-family: $label_font;
                h6{
                    display: block;
                    font-size: 1.2rem;
                    margin-bottom: 1.1px;
                }
                line-height: 1rem;
            }
        }
    }
}


